@media only screen and (max-width: 1280px) {
  .card-heading {
    font-size: 130%;
  }

  .card-text {
    font-size: 95%;
  }
}

@media only screen and (max-width: 1024px) {
  .card-heading {
    font-size: 120%;
    margin-bottom: 15px;
  }

  .card-text {
    font-size: 85%;
  }

  .menu-card .line {
    margin-bottom: 15px;
  }

  .row a:hover .menu-card .line,
  .row a:focus .menu-card .line {
    width: 60px;
  }
}

@media only screen and (max-width: 940px) {
  .row {
    flex-direction: column;
    align-items: center;
  }

  .row a:link,
  .row a:active {
    height: 150px;
    width: 50%;
    margin: 50px 20px 0 20px;
  }

  .card-heading {
    font-size: 135%;
    margin-bottom: 20px;
  }

  .card-text {
    font-size: 100%;
  }

  .menu-card .line {
    margin-bottom: 20px;
  }

  .row a:hover .menu-card .line,
  .row a:focus .menu-card .line {
    width: 80px;
  }
}

@media only screen and (max-width: 768px) {
  .row a:link,
  .row a:active {
    height: 130px;
    width: 50%;
    margin: 20px 20px 0 20px;
  }

  .card-heading {
    font-size: 135%;
    margin-bottom: 13px;
  }

  .card-text {
    font-size: 100%;
  }

  .menu-card .line {
    margin-bottom: 13px;
  }
}

@media only screen and (max-width: 540px) {
  .top-banner {
    height: 100px;
    flex-direction: column;
  }

  #heading {
    font-size: 160%;
  }

  .nav-links {
    align-self: flex-end;
  }

  /* .space {
    display: none;
  } */

  .row a:link,
  .row a:active {
    height: 110px;
    width: 60%;
    margin: 20px 20px 0 20px;
    padding: 5px 20px;
  }

  .card-heading {
    font-size: 115%;
    margin: 8px;
  }

  .card-text {
    font-size: 90%;
    margin: 5px 0px;
  }

  .menu-card .line {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 390px) {
  .card-heading {
    font-size: 100%;
    margin: 8px;
  }

  .row a:link,
  .row a:active {
    height: 110px;
    width: 70%;
  }

  .card-heading {
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 327px) {
  .teach {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }

  #for, #america {
    margin-left: 0px;
    margin-top: -8px;
  }
}