html {
  
}

.top-banner {
  background-color: #00303c;
  display: flex;
  height: 50px;
}

#heading {
  color: white;
  margin: 10px 0 0 10px;
  font-size: 150%;
  font-weight: 300;
}

.heading {
  font-family: 'Merriweather', serif;
}

.card-heading {
  color: #013745;
  margin-bottom: 20px;
  font-size: 140%;
  font-weight: 400;
}

.banner-link {
  margin: 15px 20px;
}

.nav-links {
  display: flex;
}

.nav-links a:link, 
.nav-links a:visited {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s;
}

.nav-links a:hover, 
.nav-links a:focus,
.nav-links a:active {
  text-decoration: none;
  border-bottom: 2px solid #f74b59;
}

.text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.card-text {
  font-size: 100%;
  letter-spacing: -0.3px;
}

.space {
  flex-grow: 1;
}

.main-container {
  height: 93vh;
  background-color: #E7E7E7;
}

.row {
  display: flex;
  justify-content: center;
}

.row a:link,
.row a:active {
  text-decoration: none;
  color: black;
  height: 150px;
  width: 26%;
  background-color: white;
  text-align: center;
  margin: 150px 20px 0 20px;
  padding: 15px 50px;
  box-shadow: 3px 3px 4px #AAAAAA;
}

.menu-card .line {
    height: 2px;
    background-color: #ffad00;
    content: " ";
    width: 0px;
    margin: 0 auto;
    margin-bottom: 20px;
    transition: width 0.5s;
}

.row a:hover .menu-card .line,
.row a:focus .menu-card .line {
  width: 80px;
}

/* .menu-card {
  height: 150px;
  width: 26%;
  background-color: white;
  text-align: center;
  margin: 150px 20px 0 20px;
  padding: 15px 50px;
  box-shadow: 3px 3px 4px #AAAAAA; */
/* } */

.teach {
  position: fixed;
  bottom: 0;
  margin-bottom: 10px;
  margin-left: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 135%;
  letter-spacing: -1.2px;
  text-transform: uppercase;
  transform: scale(1.4, 1);
}

#for, #america {
  margin-left: -4px;
}

.dark {
  color: #013745;
}

.red {
  color: #CF3339;
}
